/* to null */

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* loader */

#loader {
	display: none;
	width: 500px;
	height: 500px;
	background-color: #667;
	background-image: url(images/loader.gif);
	background-size: cover;
	position: absolute;
}

#loader.show {
	display: block;
}

body {
	display: flex;
    flex-direction: row;
	transition: all 0.3s ease 0s;
	background-color: #fff;
	color: black;
	position: relative;
}

.page__container {
	position: absolute;
	top: 20px;
	left: 10px;
	min-width: 350px;
}


.page__header {
	display: flex;
	top: 0;
	width: 1000px;
	height: 50px;
	position: fixed;
	margin-left: 20px;
	background-color: rgba(74, 178, 243, 0.905);
	border-radius: 5px 0 0 5px;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

#result {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.friend-card {
    margin: 20px;
    height: 500px;
    width: 350px;
    border: 2px solid rgb(16, 15, 15);
    border-radius: 5px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.card-top {
    background-color: gray;
    padding: 15px;
    text-align: center;
	border-radius: 2px 2px 0 0;
}
.card-top img {
    border-radius: 20%;
    border: 5px solid beige;
}

.card-bottom {
    padding: 10px;
    background-color: rgba(142, 181, 181, 0.777);
}

.card-bottom .bullet {
	padding: 10px;
    background-color: rgba(153, 83, 223, 0.817);
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
}

.icons {
	color: violet;
	margin-right: 10px;
}

#name {
	padding-top: 10px;
    font-size: 25px;
}

#gender {
    font-size: 14px;
}

.page__title {
	font-size: 35px;
	font-weight: bold;
	font-style: italic;
}

.menu-sort {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 18px;
	margin-right: 20px;
	width: 300px;
	height: 500px;
	background-color: rgba(142, 181, 181, 0.777);
	border-radius: 5px;
	border: 2px solid rgb(16, 15, 15);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

#howManyCardsLoad {
	margin-top: 60px;
}
.page__content {
	display: flex;
	margin-top: 60px;
}

.bullet-sort {
	height: 50px;
	padding: 10px;
    background-color: rgba(153, 83, 223, 0.817);
    margin: 10px;
    border-radius: 5px;
    display: flex;
	align-items: center;
}

.btn_sort {
	margin: 5px;
	width: 65px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	color: black;
	font-size: 15px;
}

.btn_sort-reset {
	width: 50px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.btn_sort-reset:hover {
	background-color: rgba(255, 18, 18, 0.52);
}

.btn_sort:hover {
	background-color: violet;
}

.how-many-input {
	background-color: rgba(142, 181, 181, 0.777);
	border: 2px solid gray;
	outline: none;
	resize: none;
	padding: 3px 10px;
	font-size: 15px;
	border-radius: 5px;
}

.how-many-input:focus {
	border-color: black;
}

.greeting-window {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 700px;
	height: 300px;
	background-color: antiquewhite;
}

.disp-none {
	display: none;
}

/* change color */

section {
    transition: 0.5s;
}

.btn-change-color {
    cursor: pointer;
    background: white;
    position: relative;
	margin-left: 20px;
    padding: 5px;
    width: 100px;
    border: solid 3px black;
    border-radius: 40px;
    display: flex;
    transition: 0.5s;
}

.btn-change-color span {
    background: black;
    position: absolute;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: 0.5s;
}

.btn-change-color i {
    font-size: 34px;
    transition: 0.5s;
}

.btn-change-color i:nth-of-type( 1 ) {
    color: white;
    opacity: 0;
}

.btn-change-color i:nth-of-type( 2 ) {
    color: black;
    margin: 0 0 0 17px;
}

.moon button {
    background: black;
    border-color: white;
}

.moon button span {
    background: white;
    transform: translateX(51px);
}

.moon button i:nth-last-of-type(1) {
    opacity: 0;
}

.moon button i:nth-last-of-type(2) {
    opacity: 1;
}


.change-mode {
    background-color: #121212;
    transition: 0.5s;
}

.change-mode h1 {
	color: white;
}

.change-mode button {
	background-color: black;
	color: white;
}

.change-mode img {
	border: 5px solid rgb(58, 58, 58);
}

.change-mode #name {
	color: white;
}

.change-mode #gender {
	color: white;
}
/* ------------------ */
